@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css");

:root {
  --primary: #546e7a;
  --border-radius: 16px;
}

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", "Noto Sans", "Segoe UI", sans-serif;
}

body > footer {
  font-size: 0.85em;
  border-top: 1px solid var(--muted-border-color);
  padding: 1em 0;
}

button.outline {
  background: transparent;
  border-color: var(--primary);
  border-width: 2px;
}

button.outline:hover {
  background: var(--primary);
}

#login-page {
  max-width: 600px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-page > form {
  display: flex;
  flex-direction: column;
}

#game-page {
  /* shit hack to hide the footer */
  min-height: 100vh;
}

#game-page > h1 > sup {
  top: 0;
}

#game-page.in-game > h1 {
  display: none;
}

#game > .game-canvas {
  /* https://caniuse.com/mdn-css_properties_aspect-ratio */
  aspect-ratio: 16 / 10;
  width: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}

#game > .game-canvas > .game-fps-counter {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5em;
  font-size: small;
  font-family: mono;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  white-space: break-spaces;
}

#game > .game-controls {
  display: flex;
  justify-content: space-between;
  margin-top: var(--typography-spacing-vertical);
}

#game > .game-controls > .game-buttons {
  display: flex;
  flex-direction: row;
  gap: calc(var(--typography-spacing-vertical) / 2);
}

#game > .game-controls > .game-buttons > .game-quit {
  --primary: var(--del-color);
}

#game > .game-controls > .game-timer > * {
  margin: 0;
}

#game:empty,
#level-menu:empty {
  display: none;
}

#game-loading {
  display: none;
}

#game:empty + #level-menu:empty + #game-loading {
  display: block;
  max-width: 200px;
  margin: auto;
  margin-top: 2em;
}

#game:not(:empty) + #level-menu {
  display: none;
}

#level-menu {
}

#level-menu > h2 {
  text-align: center;
  margin-bottom: calc(var(--typography-spacing-vertical));
}

#level-menu > .level-item {
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);
  border: 3px solid var(--card-background-color);
  padding: 0;
  /* transition: linear 50ms all; */
}

#level-menu > .level-item:hover {
  border-color: var(--accordion-active-summary-color);
}

#level-menu > .level-item > summary {
  padding: calc(var(--typography-spacing-vertical) - 3px) calc((var(--form-element-spacing-horizontal) * 2) - 3px);
}

#level-menu > .level-item > *:not(summary) {
  margin: calc(var(--typography-spacing-vertical) - 3px) calc((var(--form-element-spacing-horizontal) * 2) - 3px);
  margin-top: 0;
}

#level-menu > .level-item > .level-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#level-menu > .level-item > .level-info > * {
  margin: 0;
}

#level-menu > .level-item > .level-info > h3 {
  flex: 1;
}

#level-menu > .level-item > .level-info > h3 > small {
  font-weight: normal;
  margin-left: 0.25em;
}

#level-menu > .level-item > .level-info > .level-scores {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-row-gap: 0;
  grid-column-gap: 0.5em;
}

#level-menu > .level-item > .level-info > .level-scores > .score-k {
  text-align: right;
}
#level-menu > .level-item > .level-info > .level-scores > .score-v {
  text-align: left;
}

#level-menu > .level-item > .level-description {
  font-size: 0.9em;
  margin: var(--typography-spacing-vertical) 0;
}

#level-menu .level-leaderboard h4 {
  text-align: center;
}

#level-menu .level-leaderboard th {
  font-weight: bold;
}

#level-menu .level-leaderboard .rank {
  width: 0;
  text-align: end;
}

#level-menu .level-leaderboard .leaderboard-placeholder > td {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #level-menu > .level-item > .level-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #level-menu > .level-item > .level-info::after {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: var(--typography-spacing-vertical);
  }
  #level-menu > .level-item > .level-info > p:not(:empty) {
    margin-top: calc(var(--typography-spacing-vertical) / 2);
  }
}
