@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css");

:root {
  --primary: #546e7a;
}

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", "Noto Sans", "Segoe UI", sans-serif;
}

body > footer {
  font-size: 0.85em;
  border-top: 1px solid var(--muted-border-color);
  padding: 1em 0;
}

#login-page {
  max-width: 600px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-page > form {
  display: flex;
  flex-direction: column;
}

#game-page {
  /* shit hack to hide the footer */
  min-height: 100vh;
}

#game-page > h1 > sup {
  top: 0;
}

#game {
  /* https://caniuse.com/mdn-css_properties_aspect-ratio */
  aspect-ratio: 16 / 10;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#game:empty {
  display: none;
}

#game + .loading {
  display: none;
}

#game:empty + .loading {
  display: block;
  max-width: 200px;
  margin: auto;
  margin-top: 2em;
}
